@keyframes rotate-background-pros {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-background-cons {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}