// Breakpoints
$sm-min: 768px;
$md-min: 992px;
$lg-min: 1200px;

//COlors
$main-color-dark: #999;
$main-color-light: #fafafa;
$backgroud-header: rgba(20, 20, 30, .6);
$main-backgroud: #333;
$secondary-background: #c69;
$secondary-color: #c69;

//FOnts
$main-font: "Lato", Helvetica, san-serif;
$secondary-font: "Dynalight", Helvetica, san-serif;
